@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @apply font-bold;
}

p {
  @apply text-lg;
}

form {
  @apply flex;
}

button {
  @apply drop-shadow-md;
}

.search__input {
  @apply px-4 py-2 outline-none;
}

.search__btn {
  @apply px-4 py-2 bg-white hover:bg-gray-200 duration-300 border-l-2 border-gray-200;
}

.recipe__btn {
  @apply px-4 py-2 bg-secondary-300 hover:bg-secondary-600 duration-300  text-white font-bold;
}

.meal__category {
  @apply inline bg-quaternary px-4 py-1 rounded-l-full text-white;
}

.divider {
  @apply w-20 bg-quaternary h-1 rounded-r-full mt-2;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 20px 20px 0px;
  border-color: transparent;
  transform: rotate(0deg);
}

.triangle-colored {
  border-color: transparent transparent rgb(136 78 64) transparent;
}

.category__btn {
  @apply text-white uppercase p-2;
}

/* .category__btn {
  @apply text-white uppercase p-2 after:content-[''] after:w-0 after:h-1 after:mx-auto after:bg-white after:mt-1 after:block group-hover:after:w-full group-hover:after:bg-primary after:duration-500;
} */

.item__category {
  @apply flex flex-col items-center gap-4 p-4 mx-2 cursor-pointer hover:bg-quaternary duration-300;
}

.border-img {
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-image-source: radial-gradient(
    circle at top left,
    rgb(239 68 68) 20%,
    transparent 90%
  );
  border-image-slice: 1;
}
